:root {
    --text-black: #e1e0e0 !important;
    --background-white: #121213 !important;
    --off-white: #272727 !important;
    --dark-white: #353535 !important;
    --darker-white: #454545 !important;
    --dark-background: #3f3f3f !important;

    --default-border-color: #353535 !important;
    --default-dark-border-color: #454545 !important;

    --green: #43764b !important;
    --dark-blue: #23325c !important;
    --red: #9a1f23 !important;
    --yellow: #cfb403 !important;
    --light-blue: #3964a1 !important;

    --green_d: #4a7c53 !important;
    --dark-blue_d: #212e54 !important;
    --red_d: #81191d !important;
    --yellow_d: #b39c06 !important;
    --light-blue_d: #284773 !important;
}

p, h1, h2, h3, h4, h5, div, span {
    color: var(--text-black);
}

.warning, .warning span, .warning .messageHeader {
    color: black !important;
}

input, textarea {
    background-color: var(--off-white) !important;
    color: var(--text-black) !important;
}

.CodeMirror {
    color: var(--text-black) !important;
    border-color: var(--default-border-color) !important;
    background-color: "inherit" !important;
}
.cm-s-easymde .CodeMirror-cursor {
    border-color: var(--text-black) !important;
}

.editor-toolbar > * {
    color: var(--text-black) !important;
}

.editor-toolbar > .active, .editor-toolbar > button:hover, .editor-preview pre, .cm-s-easymde .cm-comment {
    background-color: var(--background-white) !important;
}

.editor-preview {
    background-color: var(--background-white) !important;
}

.editor-toolbar, .editor-toolbar i.separator {
    border-color: var(--default-border-color) !important;
    color: var(--default-border-color) !important;
}